# Worksheet 5: Spark DataFrame manipulations ()

## Import the worksheet5.ipynb to databricks community edition

- For this worksheet5, I'd like you to upload the ipynb to databricks community edition and work on the assignment there.
- After finish the assignment, you can download it to your github repo, and push the changes

### Exercise 1: Creating a Spark DataFrame from a List with Predefined Data Types

#### Instructions:
1. **Import necessary Spark libraries.**
2. **Define a list of book data.** The list should contain tuples with the following information: Title (String), Author (String), Year (Integer), and Rating (Float).
3. **Define the schema with predefined data types.** Use `StructType` and `StructField` to define the schema.
4. **Create a DataFrame using the list and schema.** Use `spark.createDataFrame(data, schema)`.
5. **Show the DataFrame.** Use `df.show()` to display the DataFrame.

#### Example Data:

In [0]:
data = [
    ("The Catcher in the Rye", "J.D. Salinger", 1951, 4.0),
    ("To Kill a Mockingbird", "Harper Lee", 1960, 4.3),
    ("1984", "George Orwell", 1949, 4.2),
    ("Pride and Prejudice", "Jane Austen", 1813, 4.3),
    ("The Great Gatsby", "F. Scott Fitzgerald", 1925, 3.9),
    ("Moby-Dick", "Herman Melville", 1851, 3.5),
    ("War and Peace", "Leo Tolstoy", 1869, 4.1),
    ("The Odyssey", "Homer", -800, 3.8),
    ("Ulysses", "James Joyce", 1922, 3.7),
    ("The Divine Comedy", "Dante Alighieri", 1320, 4.2)
]

In [0]:
# YOUR CODE HERE

# Step 1: Import necessary Spark libraries
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

# Step 2: Create a Spark session
spark = SparkSession.builder.appName("BookDataFrame").getOrCreate()

# Step 3: Define a list of book data (Title, Author, Year, Rating)
book_data = [
    ("The Catcher in the Rye", "J.D. Salinger", 1951, 4.0),
    ("To Kill a Mockingbird", "Harper Lee", 1960, 4.27),
    ("1984", "George Orwell", 1949, 4.17),
    ("Pride and Prejudice", "Jane Austen", 1813, 4.26),
    ("The Great Gatsby", "F. Scott Fitzgerald", 1925, 3.91)
]

# Step 4: Define the schema using StructType and StructField
schema = StructType([
    StructField("Title", StringType(), True),
    StructField("Author", StringType(), True),
    StructField("Year", IntegerType(), True),
    StructField("Rating", FloatType(), True)
])

# Step 5: Create a DataFrame using the list and schema
df = spark.createDataFrame(book_data, schema)

# Step 6: Show the DataFrame
df.show()

+--------------------+-------------------+----+------+
|               Title|             Author|Year|Rating|
+--------------------+-------------------+----+------+
|The Catcher in th...|      J.D. Salinger|1951|   4.0|
|To Kill a Mocking...|         Harper Lee|1960|  4.27|
|                1984|      George Orwell|1949|  4.17|
| Pride and Prejudice|        Jane Austen|1813|  4.26|
|    The Great Gatsby|F. Scott Fitzgerald|1925|  3.91|
+--------------------+-------------------+----+------+

### Exercise 2: Exploring a Spark DataFrame

#### Instructions:
1. **Print the schema** of the DataFrame to see the column names and data types.
2. **Show the column names** of the DataFrame.
3. **Show the data types** of each column in the DataFrame.
4. **Take the first `n` rows** of the DataFrame and display them.
5. **Sample `n` rows** from the DataFrame and display them.

Fill in the code to complete the exercise.

In [0]:
# Assuming the DataFrame 'df' was already created from the previous exercise

# Step 1: Print the schema of the DataFrame
# YOUR CODE HERE

# Step 7: Print the schema of the DataFrame to see the column names and data types
df.printSchema()

root
 |-- Title: string (nullable = true)
 |-- Author: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Rating: float (nullable = true)

In [0]:

# Step 2: Show the column names of the DataFrame
# YOUR CODE HERE

print("Column Names:", df.columns)

Column Names: ['Title', 'Author', 'Year', 'Rating']

In [0]:

# Step 3: Show the data types of each column in the DataFrame
# YOUR CODE HERE
print("Data Types of Each Column:")
for col_name, col_type in df.dtypes:
    print(f"{col_name}: {col_type}")

Data Types of Each Column:
Title: string
Author: string
Year: int
Rating: float

In [0]:

# Step 4: Take the first n rows of the DataFrame and display them 
# You can change this value as needed
# YOUR CODE HERE
n = 4
print("First 4 Rows:")
df.show(n)

First 4 Rows:
+--------------------+-------------+----+------+
|               Title|       Author|Year|Rating|
+--------------------+-------------+----+------+
|The Catcher in th...|J.D. Salinger|1951|   4.0|
|To Kill a Mocking...|   Harper Lee|1960|  4.27|
|                1984|George Orwell|1949|  4.17|
| Pride and Prejudice|  Jane Austen|1813|  4.26|
+--------------------+-------------+----+------+
only showing top 4 rows

In [0]:

# Step 5: Sample n rows from the DataFrame and display them
# YOUR CODE HERE
print("Random Sample of 2 Rows:")
n_r = 2
df.sample(withReplacement=False, fraction=0.4).show(n_r)

Random Sample of 2 Rows:
+--------------------+-------------+----+------+
|               Title|       Author|Year|Rating|
+--------------------+-------------+----+------+
|To Kill a Mocking...|   Harper Lee|1960|  4.27|
|                1984|George Orwell|1949|  4.17|
+--------------------+-------------+----+------+
only showing top 2 rows

### Exercise 3: Filtering, Selecting, and Ordering Data in a Spark DataFrame

#### Instructions:
1. **Filter** the DataFrame to include only books with a rating greater than 4.0.
2. **Select** only the "Title" and "Author" columns.
3. **Order** the DataFrame by "Year" in ascending order.
4. **Show the resulting DataFrame.**

Fill in the code to complete the exercise.

In [0]:
# YOUR CODE HERE

#Filter the DataFrame to include only books with a rating greater than 4.0
filtered_df = df.filter(df["Rating"] > 4.0)

#Select only the "Title" and "Author" columns
selected_df = filtered_df.select("Title", "Author")

#Order the DataFrame by "Year" in ascending order
ordered_df = filtered_df.orderBy("Year", ascending=True)

#Show the resulting DataFrame
ordered_df.show()

+--------------------+-------------+----+------+
|               Title|       Author|Year|Rating|
+--------------------+-------------+----+------+
| Pride and Prejudice|  Jane Austen|1813|  4.26|
|                1984|George Orwell|1949|  4.17|
|To Kill a Mocking...|   Harper Lee|1960|  4.27|
+--------------------+-------------+----+------+

### Exercise 4: String Manipulations in a Spark DataFrame

#### Instructions:
1. **Create a new column** that converts the "Title" column to uppercase.
2. **Create a new column** that extracts the first word from the "Title" column.
3. **Filter** the DataFrame to include only books where the "Author" column contains the letter 'e'.
4. **Show** the resulting DataFrame.

Fill in the code to complete the exercise.

In [0]:
from pyspark.sql.functions import upper, split, col

# Assuming the DataFrame 'df' was already created from the previous exercise

# Step 1: Create a new column that converts the "Title" column to uppercase
df_with_upper_title = df.withColumn("Uppercase_Title", upper(df["Title"]))
df.show()

+--------------------+-------------------+----+------+
|               Title|             Author|Year|Rating|
+--------------------+-------------------+----+------+
|The Catcher in th...|      J.D. Salinger|1951|   4.0|
|To Kill a Mocking...|         Harper Lee|1960|  4.27|
|                1984|      George Orwell|1949|  4.17|
| Pride and Prejudice|        Jane Austen|1813|  4.26|
|    The Great Gatsby|F. Scott Fitzgerald|1925|  3.91|
+--------------------+-------------------+----+------+

In [0]:

# Step 2: Create a new column that extracts the first word from the "Title" column
# YOUR CODE HERE
df_with_first_word = df_with_upper_title.withColumn("First_Word", split(df["Title"], " ")[0])
df.show()

+--------------------+-------------------+----+------+
|               Title|             Author|Year|Rating|
+--------------------+-------------------+----+------+
|The Catcher in th...|      J.D. Salinger|1951|   4.0|
|To Kill a Mocking...|         Harper Lee|1960|  4.27|
|                1984|      George Orwell|1949|  4.17|
| Pride and Prejudice|        Jane Austen|1813|  4.26|
|    The Great Gatsby|F. Scott Fitzgerald|1925|  3.91|
+--------------------+-------------------+----+------+

In [0]:

# Step 3: Filter the DataFrame to include only books where the "Author" column contains the letter 'e'
# YOUR CODE HERE
filtered_df_by_author = df_with_first_word.filter(df["Author"].contains("e"))

In [0]:

# Step 4: Show the resulting DataFrame
# YOUR CODE HERE
filtered_df_by_author.show()

+--------------------+-------------------+----+------+--------------------+----------+
|               Title|             Author|Year|Rating|     Uppercase_Title|First_Word|
+--------------------+-------------------+----+------+--------------------+----------+
|The Catcher in th...|      J.D. Salinger|1951|   4.0|THE CATCHER IN TH...|       The|
|To Kill a Mocking...|         Harper Lee|1960|  4.27|TO KILL A MOCKING...|        To|
|                1984|      George Orwell|1949|  4.17|                1984|      1984|
| Pride and Prejudice|        Jane Austen|1813|  4.26| PRIDE AND PREJUDICE|     Pride|
|    The Great Gatsby|F. Scott Fitzgerald|1925|  3.91|    THE GREAT GATSBY|       The|
+--------------------+-------------------+----+------+--------------------+----------+

### Exercise 5: Aggregations in a Spark DataFrame

#### Instructions:
1. **Calculate the average rating** of all books.
2. **Calculate the maximum rating** of all books.
3. **Calculate the minimum rating** of all books.
4. **Group by the "Author"** and calculate the average rating for each author.
5. **Show** the resulting DataFrames.

Fill in the code to complete the exercise.

In [0]:
from pyspark.sql.functions import avg, max, min

# Step 1: Calculate the average rating of all books
# YOUR CODE HERE
average_rating = df.agg(avg("Rating").alias("Average_Rating"))

# Step 2: Calculate the maximum rating of all books
# YOUR CODE HERE
max_rating = df.agg(max("Rating").alias("Maximum_Rating"))

# Step 3: Calculate the minimum rating of all books
# YOUR CODE HERE
min_rating = df.agg(min("Rating").alias("Minimum_Rating"))

# Step 4: Group by the "Author" and calculate the average rating for each author
# YOUR CODE HERE
avg_rating_per_author = df.groupBy("Author").agg(avg("Rating").alias("Average_Rating"))

# Step 5: Show the resulting DataFrame
# YOUR CODE HERE
print("Average Rating of All Books:")
average_rating.show()

print("Maximum Rating of All Books:")
max_rating.show()

print("Minimum Rating of All Books:")
min_rating.show()

print("Average Rating for Each Author:")
avg_rating_per_author.show()

Average Rating of All Books:
+-----------------+
|   Average_Rating|
+-----------------+
|4.122000074386596|
+-----------------+

Maximum Rating of All Books:
+--------------+
|Maximum_Rating|
+--------------+
|          4.27|
+--------------+

Minimum Rating of All Books:
+--------------+
|Minimum_Rating|
+--------------+
|          3.91|
+--------------+

Average Rating for Each Author:
+-------------------+------------------+
|             Author|    Average_Rating|
+-------------------+------------------+
|      J.D. Salinger|               4.0|
|         Harper Lee| 4.269999980926514|
|      George Orwell| 4.170000076293945|
|        Jane Austen| 4.260000228881836|
|F. Scott Fitzgerald|3.9100000858306885|
+-------------------+------------------+

### Exercise 6: Column Manipulations in a Spark DataFrame

#### Instructions:
1. **Add a new column** that indicates whether the book was published in the 20th century (1901-2000).
2. **Rename the "Rating" column** to "Book_Rating".
3. **Drop the "Year" column** from the DataFrame.
4. **Show** the resulting DataFrame.

Fill in the code to complete the exercise.

In [0]:
from pyspark.sql.functions import col

# Assuming the DataFrame 'df' was already created from the previous exercise


# Step 1: Add a new column that indicates whether the book was published in the 20th century (1901-2000)
# YOUR CODE HERE
df_with_century = df.withColumn("Published_in_20th_Century", 
                                (col("Year") >= 1901) & (col("Year") <= 2000))

# # Step 2: Rename the "Rating" column to "Book_Rating"
# YOUR CODE HERE
df_with_renamed_column = df_with_century.withColumnRenamed("Rating", "Book_Rating")

# Step 3: Drop the "Year" column from the DataFrame
# YOUR CODE HERE
df_final = df_with_renamed_column.drop("Year")

# Step 4: Show the resulting DataFrame
# YOUR CODE HERE
df_final.show()

+--------------------+-------------------+-----------+-------------------------+
|               Title|             Author|Book_Rating|Published_in_20th_Century|
+--------------------+-------------------+-----------+-------------------------+
|The Catcher in th...|      J.D. Salinger|        4.0|                     true|
|To Kill a Mocking...|         Harper Lee|       4.27|                     true|
|                1984|      George Orwell|       4.17|                     true|
| Pride and Prejudice|        Jane Austen|       4.26|                    false|
|    The Great Gatsby|F. Scott Fitzgerald|       3.91|                     true|
+--------------------+-------------------+-----------+-------------------------+