# Worksheet 5: Spark DataFrame manipulations

## Import the worksheet5.ipynb to databricks community edition

- For this worksheet5, I'd like you to upload the ipynb to databricks community edition and work on the assignment there.
- After finish the assignment, you can download it to your github repo, and push the changes

### Exercise 1: Creating a Spark DataFrame from a List with Predefined Data Types

#### Instructions:
1. **Import necessary Spark libraries.**
2. **Define a list of book data.** The list should contain tuples with the following information: Title (String), Author (String), Year (Integer), and Rating (Float).
3. **Define the schema with predefined data types.** Use `StructType` and `StructField` to define the schema.
4. **Create a DataFrame using the list and schema.** Use `spark.createDataFrame(data, schema)`.
5. **Show the DataFrame.** Use `df.show()` to display the DataFrame.

#### Example Data:

In [0]:
data = [
    ("The Catcher in the Rye", "J.D. Salinger", 1951, 4.0),
    ("To Kill a Mockingbird", "Harper Lee", 1960, 4.3),
    ("1984", "George Orwell", 1949, 4.2),
    ("Pride and Prejudice", "Jane Austen", 1813, 4.3),
    ("The Great Gatsby", "F. Scott Fitzgerald", 1925, 3.9),
    ("Moby-Dick", "Herman Melville", 1851, 3.5),
    ("War and Peace", "Leo Tolstoy", 1869, 4.1),
    ("The Odyssey", "Homer", -800, 3.8),
    ("Ulysses", "James Joyce", 1922, 3.7),
    ("The Divine Comedy", "Dante Alighieri", 1320, 4.2)
]

In [0]:
# YOUR CODE HERE

### Exercise 2: Exploring a Spark DataFrame

#### Instructions:
1. **Print the schema** of the DataFrame to see the column names and data types.
2. **Show the column names** of the DataFrame.
3. **Show the data types** of each column in the DataFrame.
4. **Take the first `n` rows** of the DataFrame and display them.
5. **Sample `n` rows** from the DataFrame and display them.

Fill in the code to complete the exercise.

In [0]:
# Assuming the DataFrame 'df' was already created from the previous exercise

# Step 1: Print the schema of the DataFrame
# YOUR CODE HERE

In [0]:

# Step 2: Show the column names of the DataFrame
# YOUR CODE HERE

In [0]:

# Step 3: Show the data types of each column in the DataFrame
# YOUR CODE HERE

In [0]:

# Step 4: Take the first n rows of the DataFrame and display them
n = 5  # You can change this value as needed
# YOUR CODE HERE

In [0]:

# Step 5: Sample n rows from the DataFrame and display them
# YOUR CODE HERE

### Exercise 3: Filtering, Selecting, and Ordering Data in a Spark DataFrame

#### Instructions:
1. **Filter** the DataFrame to include only books with a rating greater than 4.0.
2. **Select** only the "Title" and "Author" columns.
3. **Order** the DataFrame by "Year" in ascending order.
4. **Show the resulting DataFrame.**

Fill in the code to complete the exercise.

In [0]:
# YOUR CODE HERE

### Exercise 4: String Manipulations in a Spark DataFrame

#### Instructions:
1. **Create a new column** that converts the "Title" column to uppercase.
2. **Create a new column** that extracts the first word from the "Title" column.
3. **Filter** the DataFrame to include only books where the "Author" column contains the letter 'e'.
4. **Show** the resulting DataFrame.

Fill in the code to complete the exercise.

In [0]:
from pyspark.sql.functions import upper, split, col

# Assuming the DataFrame 'df' was already created from the previous exercise

# Step 1: Create a new column that converts the "Title" column to uppercase
# YOUR CODE HERE

In [0]:

# Step 2: Create a new column that extracts the first word from the "Title" column
# YOUR CODE HERE

In [0]:

# Step 3: Filter the DataFrame to include only books where the "Author" column contains the letter 'e'
# YOUR CODE HERE

In [0]:

# Step 4: Show the resulting DataFrame
# YOUR CODE HERE

### Exercise 5: Aggregations in a Spark DataFrame

#### Instructions:
1. **Calculate the average rating** of all books.
2. **Calculate the maximum rating** of all books.
3. **Calculate the minimum rating** of all books.
4. **Group by the "Author"** and calculate the average rating for each author.
5. **Show** the resulting DataFrames.

Fill in the code to complete the exercise.

In [0]:
from pyspark.sql.functions import avg, max, min

# Assuming the DataFrame 'df' was already created from the previous exercise

# Step 1: Calculate the average rating of all books
# YOUR CODE HERE

# Step 2: Calculate the maximum rating of all books
# YOUR CODE HERE

# Step 3: Calculate the minimum rating of all books
# YOUR CODE HERE

# Step 4: Group by the "Author" and calculate the average rating for each author
# YOUR CODE HERE

# Step 5: Show the resulting DataFrame
# YOUR CODE HERE

### Exercise 6: Column Manipulations in a Spark DataFrame

#### Instructions:
1. **Add a new column** that indicates whether the book was published in the 20th century (1901-2000).
2. **Rename the "Rating" column** to "Book_Rating".
3. **Drop the "Year" column** from the DataFrame.
4. **Show** the resulting DataFrame.

Fill in the code to complete the exercise.

In [0]:
from pyspark.sql.functions import col

# Assuming the DataFrame 'df' was already created from the previous exercise

# Step 1: Add a new column that indicates whether the book was published in the 20th century (1901-2000)
# YOUR CODE HERE

# Step 2: Rename the "Rating" column to "Book_Rating"
# YOUR CODE HERE

# Step 3: Drop the "Year" column from the DataFrame
# YOUR CODE HERE

# Step 4: Show the resulting DataFrame
# YOUR CODE HERE